target
.project
.settings
.classpath
.DS_Store
hs_err_pid*

# Log files by simulator
*.dbg0
*.evt0

# Used by simulator
sim/etc/users.txt

# Eclipse
**/.settings/
**/.classpath
**/.project

# IntelliJ
**/*.iml
.idea
